body{
  background-color: rgba(128, 128, 128, 0.37);
}
input{
  font-size: 20px;
  width: 90%;
  height: 40px;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}
p{
  color: rgb(16, 0, 54);
  font-size: 20px;
  font-family: cursive;

}
form{
  width: 80vh;
  height: 40vh;
  margin-left: 300px;
  margin-top: 100px;
  padding-left: 50px;
  row-gap: 20px;
  background-color: rgba(0, 128, 0, 0.475);
  border-radius: 10px;
  padding-top: 20px;
}